body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    color: white;
    background: #B784A7;
    font-weight: 400;
    line-height: 1.0;
}

.rounded-full {
    border-radius: 9999px;
}

.navbar{
    color:rgb(46, 45, 45);
}

.main-container {
    min-height: 75vh;
    padding-top: 11rem;
}

.main-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-row image {
    width: auto;
    height: 25%;
}

.main-row h1 {
    font-size: 4rem;
}

p {
    line-height: 2.0;
}

h3 {
    line-height: 2.0;
}

@media (max-width: 75em) {
    html {
        font-size: 60%;
    }
}

.card-text {
    color: #B784A7;
}

.project-tile {
    display: flex;
}

#social-media {
    background-color: rgb(46, 45, 45);
    border-color: purple;
    border: 4px;
}

.media_link {
    padding: 1rem;
    max-width: 5rem;
    margin-left: 1rem;
    border: 2px solid black;
    border-radius: .05rem;
}